################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LotteryPy/.vscode
/LotteryPy/__pycache__
/.vs/Python-Fiddling/v16
.vs/*